<h2 mat-dialog-title>{{ data.id ? 'Edit User' : 'Add User' }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Age</mat-label>
    <input type="number" matInput [(ngModel)]="data.age" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data">
    Save
  </button>
</mat-dialog-actions>
